%link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}
<center>
%div
  %img{:src => "img/logo.jpg", :class => "logo"}
%h1 Authorization requested by #{locals[:client].name}.
%div
  %span Currently logged in as 
  %b #{locals[:user].username}
  %a{:href => "#{locals[:host]}/logout", :class => "button"} Change...
%form{:action => "#{locals[:host]}/authorize", :method => "post"}
  %fieldset
    %br
    %h3 Requested scopes:
    %div{:class => "parent"}
      %ul.scopes
        - (locals[:scopes]).each do |scope|
          %li{:hidden => scope == "openid", :class => "scope" }
            - if !locals[:scope_description][scope].nil?
              = locals[:scope_description] [scope]
            - else
              = scope
    %br
    %input{:type => "submit", :value => "Authorize", :class => "button"}
</center>
